nav {
    background: #ff0000;
    color: #fff;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav .active,
nav a:hover {
    background: #0b6b3a;
}
/* ID SELECTOR*/
#intro {
    background: #2bee04;
    border: 1px solid #099249;
    min-height: 100px;
}
#intro h1{
    text-align: left;
    border: 0;
    color: #fff;
}
/* class selector */
.btn-primary{
    background: #e42a42;
}